<!-- /*_cliente.html.erb*/ -->
<tr>
  <%= render 'cliente_info', cliente: cliente %>
  <td >
    <%= link_to cliente, class:"text-decoration-none"  do%>
    <i class="fa-solid fa-eye link-dark "></i>
       <%end%>

    <%= link_to  edit_cliente_path(cliente), class:"text-decoration-none"  do %>
    <i class="fa-solid fa-pen link-dark"></i>
             <%end%>
   
  </td>
</tr>
