<!-- /*_edit.html.erb*/ -->
<h1 class="text-center">Editing cliente</h1>

<%= render "form", cliente: @cliente %>

<div class="text-center mt-3">
  <%= link_to "Exibir", @cliente, class: "btn btn-primary" %> |
  <%= link_to "voltar", clientes_path, class: "btn btn-secondary" %>
</div>
