<!-- /*_new.html.erb*/ -->
<h1 class="text-center">Novo cliente</h1>

<%= render "form", cliente: @cliente %>

<div class="text-center mt-3">
  <%= link_to "Voltar", clientes_path, class: "btn btn-secondary" %>
</div>
