<div class="container mt-5">
  <table class="table table-bordered mx-auto">
    <thead class="thead-dark">
      <tr>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Mecânicos</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <% if @equipes.present? %>
        <% @equipes.each do |equipe| %>
          <tr>
            <td><%= equipe.nome %></td>
            <td><%= equipe.descricao %></td>
            <td>
              <% if equipe.mecanicos.present? %>
                <% equipe.mecanicos.each do |mecanico| %>
                  <%= mecanico.nome %><br>
                <% end %>
              <% else %>
                Nenhum mecânico encontrado
              <% end %>
            </td>
            <td>
              <%= link_to "Exibir", equipe, class: "btn btn-secondary" %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="4" class="text-center">Nenhuma equipe encontrada.</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
