
      <% if @equipes.present? %>
        <% @equipes.each do |equipe| %>
          <tr>
            <td><%= equipe.nome %></td>
            <td><%= equipe.descricao %></td>
            <td>
              <% if equipe.mecanicos.present? %>
                <% equipe.mecanicos.each do |mecanico| %>
                  <%= mecanico.nome %><br>
                <% end %>
              <% else %>
                Nenhum mecânico encontrado
              <% end %>
            </td>
            <td>
              <%= link_to "Exibir", equipe, class: "btn btn-secondary" %>
            </td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="4" class="text-center">Nenhuma equipe encontrada.</td>
        </tr>
      <% end %>
   