<tr>
  <%= render 'equipe_info', equipe: equipe %>
  <td >
    <%= link_to equipe, class:"text-decoration-none"  do%>
    <i class="fa-solid fa-eye link-dark "></i>
       <%end%>

    <%= link_to  edit_equipe_path(equipe), class:"text-decoration-none"  do %>
    <i class="fa-solid fa-pen link-dark"></i>
             <%end%>
   
  </td>
</tr>

       
   








