<h1>eitar equipe</h1>

<%= render "form", equipe: @equipe %>

<br>

<div class="text-center">
  <%= link_to "exibir", @equipe, class: "btn btn-primary" %> |
  <%= link_to "voltar", equipes_path, class: "btn btn-secondary" %>
</div>
