<div>
  <h1 class="text-center">Equipes</h1>
 <div class="text-center mt-3 mb-3">
    <%= link_to "Nova equipe", new_equipe_path, class: "btn btn-primary" %>
  </div>
  <div id="equipes">
    <% if @equipes.present? %>
      <% @equipes.each do |equipe| %>
        <%= render equipe %>

      <% end %>
    <% else %>
      <p>No equipes found.</p>
    <% end %>
  </div>

 
</div>
