<div id="<%= dom_id peca %>">
  <p>
    <strong>Nome:</strong>
    <%= peca.nome %>
  </p>

  <p>
    <strong>Quantidade:</strong>
    <%= peca.quantidade %>
  </p>

  <p>
    <strong>Preco:</strong>
    <%= peca.preco %>
  </p>
</div>
