<div class="container mt-4">

  <div class="table-responsive">
    <table class="table table-bordered mx-auto">
      <thead class="thead-dark">
        <tr>
          <th>Nome</th>
          <th>Quantidade</th>
          <th>Preço por Peça</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <% @pecas.each do |peca| %>
          <tr>
            <td><%= peca.nome %></td>
            <td><%= peca.quantidade %></td>
            <td><%= peca.preco %></td>
            <td>
                <%= link_to "Exibir", peca, class: "btn btn-primary" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
