<div id="<%= dom_id peca %>" class="container mt-4">
  <div class="card mx-auto col-6">
    <div class="card-body">
      <h5 class="card-title">Detalhes da Peça</h5>

      <div class="mb-3">
        <strong class="form-label">Nome:</strong>
        <p class="form-control-static"><%= peca.nome %></p>
      </div>

      <div class="mb-3">
        <strong class="form-label">Quantidade:</strong>
        <p class="form-control-static"><%= peca.quantidade %></p>
      </div>

      <div class="mb-3">
        <strong class="form-label">Preço:</strong>
        <p class="form-control-static"><%= peca.preco %></p>
      </div>

    </div>
  </div>
</div>
