<!-- /*_cliente.html.erb*/ -->
<tr>
  <%= render 'peca_info', peca: peca %>
  <td >
    <%= link_to peca, class:"text-decoration-none"  do%>
    <i class="fa-solid fa-eye link-dark "></i>
       <%end%>

    <%= link_to  edit_peca_path(peca), class:"text-decoration-none"  do %>
    <i class="fa-solid fa-pen link-dark"></i>
             <%end%>
   
  </td>
</tr>
       
       
       
       
       
       
       
       
       
       
       
   