
          <tr>
            <td><%= peca.nome %></td>
            <td><%= peca.quantidade %></td>
            <td><%= peca.preco %></td>
            <td>
                <%= link_to "Exibir", peca, class: "btn btn-primary" %>
            </td>
          </tr>

   