
          <td><%= peca.nome %></td>
           <td class="d-none d-sm-table-cell"><%=  peca.descricao %></td>
          <td class="d-none d-sm-table-cell"><%= peca.quantidade %></td>
          <td ><%= peca.preco %></td>   
    