<div class="container mt-5">
    <div class="text-center">
      <p style="color: green;"><%= notice %></p>
      <h1>Peças</h1>
 <%= link_to "Nova Peca", new_peca_path, class: "btn btn-success mt-3" %>
      <div id="pecas">
  <% @pecas.each do |peca| %>
  <%= render peca %>
  
  
<% end %>

</div>
    </div>
  </div>


