<div class="container mt-5">
    <div class="text-center">
      <p style="color: green;"><%= notice %></p>
      <h1>Peças</h1>
 <%= link_to "Nova Peca", new_peca_path, class: "btn btn-success mt-3" %>
 <div class="container mt-4">

  <div class="table-responsive">
    <table class="table table-bordered mx-auto">
      <thead class="thead-dark">
        <tr>
          <th>Nome</th>
          <th>Quantidade</th>
          <th>Preço por Peça</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
      
      <div id="pecas">
  <% @pecas.each do |peca| %>
  <%= render peca %>
  
  
<% end %>

</div>
   </tbody>
    </table>
  </div>
</div>

    </div>
  </div>


