  <div class="container mt-5">
    <h1 class="text-center">Nova Peça</h1>

    <%= render "form", peca: @peca %>

    <br>

    <div class="text-center">
      <%= link_to "Voltar", pecas_path, class: "btn btn-secondary" %>
    </div>
  </div>