<p style="color: green"><%= notice %></p>

<div class="container mt-4">

  <table class="table table-striped table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Valor</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <% @servicos.each do |servico| %>
        <tr>
          <td><%= servico.nome %></td>
          <td><%= servico.valor %></td>
          <td>
            <%= link_to "Exibir", servico_path(servico), class: "btn btn-primary" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


