
   
        <tr>
          <td><%= servico.nome %></td>
          <td><%= servico.valor %></td>
          <td>
            <%= link_to "Exibir", servico_path(servico), class: "btn btn-primary" %>
          </td>
        </tr>
  
 