<p style="color: green"><%= notice %></p>

<h1 class="text-center">Serviços</h1>
<div class="text-center mt-3 mb-3">
  <%= link_to "Novo servico", new_servico_path, id: "new-servico-link", class: "btn btn-secondary" %>
</div>
<% @servicos.each do |servico| %>
  <%= render servico %>
<% end %>
       