<div class="container mt-4 d-flex justify-content-center align-items-center flex-column">
  <h1 class="mb-4">Novo Servico</h1>

  <%= render "form", servico: @servico %>

  <br>

  <div>
    <%= link_to "Voltar", servicos_path, class: "btn btn-secondary" %>
  </div>
</div>
