<!-- /*_show.html.erb*/ -->
<div class="container mt-4">
  <div class="mt-3">
    <%= link_to "Voltar", servicos_path, class: "btn btn-danger" %>
  </div>

  <div class="card mt-3">
    <div class="card-header bg-primary text-white">
      Informações do Serviço
    </div>
    <div class="card-body">
      <%= render 'servico_info2', servico: @servico %>
    </div>
  </div>