<!-- /*_cliente.html.erb*/ -->
<tr>
  <%= render 'veiculo_info', veiculo: veiculo %>
  <td >
    <%= link_to veiculo, class:"text-decoration-none"  do%>
    <i class="fa-solid fa-eye link-dark "></i>
       <%end%>

    <%= link_to  edit_veiculo_path(veiculo), class:"text-decoration-none"  do %>
    <i class="fa-solid fa-pen link-dark"></i>
             <%end%>
   
  </td>
</tr>