<div class="container mt-4 mx-auto d-flex flex-column justify-content-center align-items-center">
  <h1 class="mx-auto">Novo veiculo</h1>

  <%= render "form", veiculo: @veiculo %>

  <br>

  <div class="text-center">
    <%= link_to "voltar", veiculos_path, class: "btn btn-secondary mx-auto" %>
  </div>
</div>
