<div class="card mt-5 col-6 mx-auto">
  <div class="card-body">
    <div id="<%= dom_id mecanico %>">
      <p>
        <strong>Nome:</strong>
        <%= mecanico.nome %>
      </p>

      <p>
        <strong>Especialidade:</strong>
        <%= mecanico.especialidade %>
      </p>

      <p>
        <strong>Equipe:</strong>
        <%= mecanico.equipe.nome %>
      </p>
    </div>
  </div>
</div>
