

      <tr>
        <td><%= mecanico.nome %></td>
        <td><%= mecanico.especialidade %></td>
        <td><%= mecanico.equipe.nome %></td>
        <td>
          <%= link_to "Exibir", mecanico, class: "btn btn-primary" %>
        </td>
      </tr>

  

