<p class="text-center text-success"><%= notice %></p>

<h1 class="text-center">Mecanicos</h1>

<div id="mecanicos" class="text-center">
  <% @mecanicos.each do |mecanico| %>
    <%= render mecanico %>
    <p>
      <%= link_to "Show this mecanico", mecanico, class: "btn btn-primary" %>
    </p>
  <% end %>
</div>

<%= link_to "New mecanico", new_mecanico_path, class: "btn btn-success" %>

