<!-- show.html.erb -->
<div class="container mt-4">
  <div class="mt-3">
    <%= link_to "Voltar", mecanicos_path, class: "btn btn-danger" %>
  </div>

  <div class="card mt-3">
    <div class="card-header bg-primary text-white">
      Informações do mecanico
    </div>
    <div class="card-body">
      <%= render 'mecanico_info2', mecanico: @mecanico %>
    </div>
  </div>
